@import '../base/variables';
@import '../base/media-queries';

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 500px 600px 600px 800px 900px 800px;
  grid-template-areas:
    'navbar'
    'hero'
    'feature1'
    'feature2'
    'feature3'
    'testimonials'
    'footer';
  @include tablet {
    grid-template-rows: 8vh 500px 600px 600px 850px 1200px 800px;
  }
}

#header {
  grid-area: navbar;
}

#hero {
  grid-area: hero;
  overflow: hidden;
  position: relative;
}

#feature1 {
  grid-area: feature1;
  display: flex;
  // align-items: flex-end;
}

#feature2 {
  grid-area: feature2;
}

#feature3 {
  grid-area: feature3;
  display: flex;
}

#testimonials {
  grid-area: testimonials;
  display: flex;
}

#footer {
  grid-area: footer;
  display: flex;
  background-color: $purple;
}
