@import '../base/variables';
@import '../base/media-queries';

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 500px 600px 600px 800px 600px 600px;
  grid-template-areas:
    'navbar'
    'hero'
    'feature1'
    'feature2'
    'feature3'
    'testimonials'
    'footer';
}

#header {
  grid-area: navbar;
}

#hero {
  grid-area: hero;
  overflow: hidden;
}

#feature1 {
  grid-area: feature1;
  display: flex;
  // align-items: flex-end;
}

#feature2 {
  grid-area: feature2;
}

#feature3 {
  grid-area: feature3;
  display: flex;
}

#testimonials {
  grid-area: testimonials;
  display: flex;
}

#footer {
  grid-area: footer;
}

.section__wrapper {
  margin-left: 3rem;
  margin-right: 3rem;
  // Saw this on one of Brad's videos, might be helpful:
  //   display: grid;
  //   grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;

  // And then the content he wanted in the two center columns
  // had this applied:
  //   .content-wrap {
  //     grid-column: 2 / 4;
  //   }
}
