@import '../base/variables';
@import '../base/media-queries';

.section__wrapper {
  margin-left: 3rem;
  margin-right: 3rem;
  max-width: $maxContentWidth;

  // @include tablet {
  //   margin-left: 3rem;
  //   margin-right: auto;
  // }
  @include laptop {
    // margin-left: auto;
    // margin-right: auto;
    margin-left: 10%;
    margin-right: 10%;
  }

  @include desktop {
    margin-left: auto;
    margin-right: auto;
  }

  // Saw this on one of Brad's videos, might be helpful:
  //   display: grid;
  //   grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;

  // And then the content he wanted in the two center columns
  // had this applied:
  //   .content-wrap {
  //     grid-column: 2 / 4;
  //   }
}

.section__title {
  justify-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.2rem;

  @include tablet {
    font-size: 2.8rem;
    margin-top: 0;
  }

  @include desktop {
    font-size: 3.1rem;
  }

  &--dark {
    color: $darkGreen;
  }
  &--med-green {
    color: $lightGreen;
  }
  &--light {
    color: $veryLightGreen;
  }
}

.feature__description {
  justify-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.025em;

  @include tablet {
    font-size: 1.5rem;
    letter-spacing: 0.03em;
    line-height: 2.1rem;
  }

  @include laptop {
    font-size: 1.7rem;
  }

  @include desktop {
    font-size: 1.9rem;
    letter-spacing: 0.02em;
    line-height: 2.3rem;
  }

  &--dark {
    color: $darkGreen;
  }
  &--light {
    color: $veryLightGreen;
  }
}

.feature__img {
  justify-self: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-responsive {
  @include tablet {
    margin-top: 2rem;
  }
  @include laptop {
    margin-top: 3rem;
  }
}

.text-align-left--larger-scrn {
  justify-self: start;
  text-align: start;
}
