@import '../base/variables';
@import '../base/media-queries';

.section__title {
  justify-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.2rem;

  &--dark {
    color: $darkGreen;
  }
  &--med-green {
    color: $lightGreen;
  }
  &--light {
    color: $veryLightGreen;
  }
}

.feature__description {
  justify-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.025em;

  &--dark {
    color: $darkGreen;
  }
  &--light {
    color: $veryLightGreen;
  }
}

.feature__img {
  justify-self: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}
