@import '../base/variables';
@import '../base/media-queries';

.section__wrapper--feature1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 25% 55%;
  gap: 2%;
  justify-content: center;
  align-items: center;
  height: 90%;
  margin-top: 0;
}

.houseplant {
  width: 180px;
  margin-right: 2rem;
  @include tablet {
    width: 210px;
  }
}
