@import '../base/variables';
@import '../base/media-queries';

.section__wrapper--feature3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 65%;
  margin: auto;

  @include tablet {
    grid-template-rows: 15% repeat(4, 1fr);
    width: 80%;
  }
}

.bullet-point__item {
  display: grid;
  height: 100%;
  gap: 10px;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 70%;
  grid-template-areas:
    'icon title'
    '.    description';

  @include tablet {
    grid-template-columns: 30% 70%;
  }
}

.bullet-point__icon {
  grid-area: icon;
  align-self: center;
  justify-self: center;
  width: 40px;

  @include tablet {
    width: 60px;
  }
}

.bullet-point__title {
  align-self: center;
  grid-area: title;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: $veryLightGreen;

  @include tablet {
    font-size: 1.8rem;
  }
}

.bullet-point__description {
  grid-area: description;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.025em;
  line-height: 1.7rem;
  color: $veryLightGreen;

  @include tablet {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}
