@import '../base/variables';
@import '../base/media-queries';

.section__wrapper--feature2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 22% 55%;
  gap: 2%;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 90%;
  margin-top: 1rem;

  @include laptop {
    height: 50%;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 10% 90%;
    grid-template-areas:
      'image  title'
      'image  description';
  }
}

.grid__feature2__title {
  @include laptop {
    padding-top: 3rem;
    grid-area: title;
    justify-self: start;
  }
}

.grid__feature2__description {
  @include laptop {
    padding-top: 3rem;
    align-self: center;
    grid-area: description;
  }
}

.grid__feature2__img {
  @include laptop {
    grid-area: image;
    align-self: end;
    justify-self: center;
  }
}

.laughing-woman {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;

  @include tablet {
    width: 280px;
    height: 280px;
  }

  @include desktop {
    width: 310px;
    height: 310px;
  }
}
