@import '../base/variables';
@import '../base/media-queries';

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  background-color: $veryLightGreen;

  @include tablet {
    max-width: $maxContentWidth;
    margin: auto;
  }

  * {
    z-index: 10;
  }

  ul {
    list-style: none;
  }

  // a {
  //   color: rgb(226, 226, 226);
  //   text-decoration: none;
  //   letter-spacing: 3px;
  //   font-weight: bold;
  //   font-size: 0.85rem;
  // }
}

.nav__logo {
  display: flex;
  align-items: center;
  padding-left: 3%;
  padding-top: 2rem;
}

.nav__logo--img {
  width: 65px;
}

.nav__logo--text {
  color: $purple;
  font-style: normal;
  letter-spacing: 4px;
  font-size: 3.1rem;
  font-weight: normal;
  line-height: 74px;
  font-family: 'Sirin Stencil', cursive;

  @include tablet {
    font-size: 4rem;
  }

  @include laptop {
    font-size: 4.5rem;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transform: scale(0, 0);
  width: 80%;
  height: 90vh;
  transform-origin: top right;
  transition: all 0.3s ease-in;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 30;

  @include tablet {
    display: flex;
    position: initial;
    width: 50%;
    transform: none;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    top: initial;
    background-color: transparent;
    // margin-right: 10%;
    margin-right: 7%;
  }

  @include laptop {
    width: 55%;
    // margin-left: 10%;
    // margin-right: 10%;
    // max-width: 650px;
  }

  @include desktop {
    // width: 48%;
    margin-right: 0;
    // max-width: 750px;
    // margin-right: 13%;
  }

  &--active {
    overflow-x: hidden;
    // height: 90vh;
    background-color: $darkPurple;
    transform: scale(1, 0.9);
    transition: transform 0.3s ease;
  }

  li {
    @include tablet {
      opacity: 1;
    }
  }

  li:last-child a {
    color: $orange;
    font-weight: bold;
    @include tablet {
      &:hover {
        color: $purple;
        text-shadow: 0 0 9px darken($darkGreen, 5);
      }
    }
  }

  a {
    overflow: hidden;
    font-size: 1.9rem;
    transition: all 0.2s ease;
    text-decoration: none;
    color: $veryLightGreen;

    @include tablet {
      font-size: 1.4rem;
      line-height: 25px;
      color: $darkGreen;

      font-weight: bold;
      &:hover {
        color: $purple;
        text-shadow: 0 0 9px darken($darkGreen, 5);
      }
    }

    @include laptop {
      font-size: 1.8rem;
      letter-spacing: 2px;
    }

    @include desktop {
      // font-size: 2rem;
    }
  }
}

.nav-active {
  width: 60%;
  @include tablet {
    width: unset;
  }
}

.burger {
  cursor: pointer;
  display: block;
  padding-right: 2rem;
  padding-top: 3rem;
  z-index: 30;

  div {
    pointer-events: none;
    width: 30px;
    height: 4px;
    background-color: $purple;
    border-radius: 9px;
    margin: 8px;
    transition: all 0.3s ease;
  }

  @include tablet {
    display: none;
  }
}

.toggle-hamburger {
  .line1 {
    transform: rotate(-45deg) translate(-11px, 6px);
    background-color: $veryLightGreen;
  }

  .line2 {
    opacity: 0;
  }

  .line3 {
    transform: rotate(45deg) translate(-10px, -6px);
    background-color: $veryLightGreen;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
