@import '../base/variables';
@import '../base/media-queries';

#hero {
  width: 100%;
  height: 100%;
  background-color: #e9ffdd;
}

.section__wrapper--hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
}

.hero__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: #8158db;
  margin: 9rem auto 4rem auto;
}

.hero__cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 213px;
  height: 64px;
  background: $orange;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  margin-top: 1rem;

  color: $veryLightGreen;
  transition: all 0.2s ease;

  &:hover {
    background-color: darken($orange, 15%);
    color: white;
  }
}
