@import '../base/variables';
@import '../base/media-queries';

.grass {
  background-color: inherit;
  position: absolute;
  width: 100%;
  left: -1px;
  bottom: 0;
  z-index: 1;

  @include laptop {
    transform: translateY(50px);
  }
  @include desktop {
    width: 120%;
    transform: translateY(200px);
  }
}

.humaaan {
  position: absolute;
  width: 150px;
  left: 13%;
  bottom: 30%;
  z-index: 2;

  @include tablet {
    width: 200px;
    left: 15%;
    bottom: 30%;
  }

  @include laptop {
    width: 220px;
  }
}
