@import '../base/variables';
@import '../base/media-queries';

.section__wrapper--testimonials {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3%;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 85%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  @include laptop {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% 1fr;
  }
}

.grid__testimonial__title {
  justify-self: center;
  text-align: center;
  @include laptop {
    grid-column: 1 / 4;
  }
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  height: 50%;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  justify-self: center;
  // padding-bottom: 2rem;
  // border-bottom: ;
}

.testimonials__quote__wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  justify-self: center;

  .icon-wrapper {
    flex: 1;
  }

  .testimonials__quote--icon {
    width: 40px;
  }

  .testimonials__description {
    align-self: center;
    flex: 3.5;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.025em;
    color: $darkGreen;

    @include tablet {
      font-size: 1.6rem;
    }
  }
}

.testimonials__img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin: -1rem auto 3rem auto;

  @include tablet {
    width: 190px;
    height: 190px;
    margin: 2rem auto;
  }

  @include laptop {
    width: 220px;
    height: 220px;
    margin-bottom: 4rem;
  }
}

.item__divider {
  text-align: center;
  padding-bottom: 3px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(119, 80, 204, 0.502132370892693) 25%,
    rgba(119, 80, 204, 1) 50%,
    rgba(119, 80, 204, 0.4991911944221048) 75%,
    rgba(70, 0, 255, 0) 100%
  );

  @include laptop {
    display: none;
  }
}
