/* Breakpoints */
$phoneWidth: 375px;
$tabletWidth: 720px;
$laptopWidth: 1184px;
$desktopWidth: 1380px;

/* Colors */
$darkGreen: #499429;
$lightGreen: #9fe07b;
$veryLightGreen: #e9ffdd;
$orange: #dfa539;
$lightOrange: #f3cf8a;
$purple: #8158db;
$darkPurple: #7750cc;
$gradient__lighterOrange: #efba57;
$gradient__lighterGreen: #73bc54;
$gradient__darkerGreen: #578d40;
